# Public issue tracker config
AGENT_ISSUE_TRACKER_BACKEND=feishu
AGENT_ISSUE_TRACKER_REPO_NAME=

# Feishu backend
AGENT_ISSUE_TRACKER_FEISHU_ROOT_FOLDER_TOKEN=

# Git backend
AGENT_ISSUE_TRACKER_GIT_REPO_PATH=
AGENT_ISSUE_TRACKER_GIT_BRANCH=
